<!-- Warnings and errors -->
<!-- https://getbootstrap.com/docs/4.1/components/alerts/ -->
<div class="alert alert-danger" role="alert">
  <b>A simple danger alert—check it out!</b>
</div>

<div>{{OMS_DATA}}</div>

<div class="card">
  <div class="card-header">
    <div class="card-title">W+2/MB4/S02</div>
  </div>
  <div class="card-body">
    <div id="main" style="width: 600px; height: 400px"></div>
    <script type="text/javascript">
      // Initialize the echarts instance based on the prepared dom
      var myChart = echarts.init(document.getElementById("main"));

      // Specify the configuration items and data for the chart
      var option = {
        title: {
          text: "ECharts Getting Started Example",
        },
        tooltip: {},
        legend: {
          data: ["sales"],
        },
        xAxis: {
          data: ["Shirts", "Cardigans", "Chiffons", "Pants", "Heels", "Socks"],
        },
        yAxis: {},
        series: [
          {
            name: "sales",
            type: "bar",
            data: [5, 20, 36, 10, 10, 20],
          },
        ],
      };

      // Display the chart using the configuration items and data just specified.
      myChart.setOption(option);
    </script>
  </div>
</div>
