<div class="card">
  <div class="card-header">
    <div class="card-title">Settings</div>
  </div>
  <div class="card-body">
    <form id="settings_form" action="">
      <div class="row">
        <div class="col">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-row">
            <div class="col mb-3">
              <label for="run_number">Run range</label>
              <input
                class="form-control"
                type="text"
                id="run_number"
                placeholder="12345-98765"
                name="run_range"
                data-toggle="tooltip"
                data-placement="top"
                title="Provide a single run number a range (START - END)."
              />
              <script>
                $("#run_number").val(run_range);
              </script>
            </div>
          </div>
          <button
            class="btn btn-primary"
            type="submit"
            name="range_by_run"
            value="run"
          >
            Apply run range
          </button>
        </div>
        <div class="col-9">
          <div class="form-row">
            <div class="col-6 mb-3">
              <label for="report_range">Time range</label>
              <input
                type="text"
                class="form-control"
                id="report_range"
                name="time_range"
              />
              <script>
                $(function () {
                  $('input[id="report_range"]').daterangepicker(
                    {
                      showDropdowns: true,
                      showWeekNumbers: true,
                      showISOWeekNumbers: true,
                      timePicker: true,
                      timePicker24Hour: true,
                      // timePickerSeconds: true,
                      ranges: {
                        Today: [
                          moment().tz("Europe/Zurich").startOf("day"),
                          moment().tz("Europe/Zurich").endOf("day"),
                        ],
                        Yesterday: [
                          moment()
                            .tz("Europe/Zurich")
                            .subtract(1, "days")
                            .startOf("day"),
                          moment()
                            .tz("Europe/Zurich")
                            .subtract(1, "days")
                            .endOf("day"),
                        ],
                        "Last 7 Days": [
                          moment().tz("Europe/Zurich").subtract(6, "days"),
                          moment().tz("Europe/Zurich"),
                        ],
                        "Last 30 Days": [
                          moment().tz("Europe/Zurich").subtract(29, "days"),
                          moment().tz("Europe/Zurich"),
                        ],
                        "This Month": [
                          moment().tz("Europe/Zurich").startOf("month"),
                          moment().tz("Europe/Zurich").endOf("month"),
                        ],
                        "Last Month": [
                          moment()
                            .tz("Europe/Zurich")
                            .subtract(1, "month")
                            .startOf("month"),
                          moment()
                            .tz("Europe/Zurich")
                            .subtract(1, "month")
                            .endOf("month"),
                        ],
                      },
                      locale: {
                        format: "DD/MM/YYYY HH:mm",
                        applyLabel: "Set",
                      },
                      alwaysShowCalendars: true,
                      startDate: (function () {
                        if (start_datetime != null && start_datetime != "") {
                          return start_datetime;
                        }
                        start_datetime = moment
                          .tz("Europe/Zurich")
                          .subtract(1, "days")
                          .startOf("day");
                        return start_datetime;
                      })(),
                      endDate: (function () {
                        if (end_datetime != null && end_datetime != "") {
                          return end_datetime;
                        }
                        end_datetime = moment.tz("Europe/Zurich");
                        return end_datetime;
                      })(),
                      drops: "auto",
                    },
                    function (start, end, label) {
                      // change global state
                      start_datetime = start;
                      end_datetime = end;
                    },
                  );
                });
              </script>
            </div>
          </div>
          <button
            class="btn btn-primary"
            type="submit"
            name="range_by_time"
            value="time"
          >
            Apply time range
          </button>
        </div>
      </div>

      <!-- Hidden field to hold the "range by" field-->
      <input type="hidden" id="range_by" name="range_by" value="time" />
      <script>
        $("#range_by").val(
          new URLSearchParams(window.location.search).get("range_by"),
        );
      </script>

      <script>
        // check which button was pressed
        var button_pressed;
        $("button[type=submit]").on("click", function (e) {
          var self = $(this); //this form
          $("#range_by").val($(this).attr("value"));
        });

        $("input[id='report_range']").on("keypress", function (e) {
          if (e.which == 13) {
            e.preventDefault(); //stop submit event
            $("button[name='range_by_time']").trigger("click");
          }
        });

        $("#settings_form").on("submit", function (e) {
          e.preventDefault(); //stop submit event
          var self = $(this); //this form

          $("#report_range").val(
            start_datetime.toISOString() + " - " + end_datetime.toISOString(),
          ); //change input

          self.off("submit"); //need form submit event off.
          self.trigger("submit");
        });
      </script>
    </form>
  </div>
</div>
